.main-content{
  height: 30%;
  background-color: #FF6D70;
  text-align: center;
  display: block;
  position: fixed;
  width: 100%;
  right: 20%;
  top: 10%;
  p{
    font-size: 20pt;
    padding-top: 5%;
    padding-left: 19%;
    color: white;
  }
}

.main-body{
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  top:40%;
  right: 20%;
  overflow:auto;
}
.login-move{
  position: fixed;
  background-color: #fff;
  right: 0;
  top: 10%;
  display: block;
  width: 20%;
  height: 100%;
  border-left: 1px solid #FF6D70;
  border-top: 1px solid #FF6D70;
  div{
    padding-top: 10px;
  }
  a{
    color: black;
    text-decoration: none;
    padding: 10px;
    position: fixed;
    bottom: 2%;
    right: 2%;
    &:hover{
      color: red;
      border-bottom: 1px solid white;
    }
  }
}

.board-sort{
  height: 55px;
  margin: 50px 50px 0 50px;
}

.sort-left{
  position: absolute;
}

.sort-right{
  float: right;
  .select-sort{
    float: left;
    margin-right: 10px;
    #count{
      margin-right: 30px;
    }
  }
}
.board-header {

  //position: fixed;
  //left: 0;
  //right: 0;
  height: 55px;
  margin-left: 18%;
  text-align: center;
  .itembar {
    list-style-type: none;
    text-align: center;
    li {
      float: left;
      color: black;
      padding: 10px 20px 10px 20px;
      width: 11%;
      text-align: center;

    }
  }

  .item-title {
    li {
      color: darkgray;
    }
  }
}

.user{
  a{
    right: 8%;
  }
}

.image-body{
  text-align: center;
  img{
    margin-top: 50%;
    width: 50%;
  }
}