.app-header{

  position: fixed;
  left: 0;
  right: 0;
  height: 55px;

  .menubar{
    list-style-type: none;
    margin-right: 30px;
    li {
      //&:first-child{
      //  float: left;
      //}
      float: left ;
      padding-top: 20px;
      a{
        color: black;
        text-decoration: none;
        padding: 20px;
        &:hover{
          color: red;
          border-bottom: 1px solid red;
        }
      }
    }

    .useritem{
      float: right;
      padding-right: 40px;
    }
  }

}

.app-body{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 65px;
  overflow: auto;
}


.sub-content{
  height: 30%;
  background-color: #FF6D70;
  text-align: center;
  display: block;
  position: fixed;
  width: 100%;
  top: 10%;
  p{
    font-size: 20pt;
    padding-top: 5%;
    color: white;
  }
}